<h1>Editing question</h1>

<%= render "form", quiz: @quiz %>

<br>

<div>
  <%= link_to "Show this question", @question, class: btn_class_small %> |
  <%= link_to "Back to question", quizzes_path %>
</div>
