<h1 class="text-3xl font-bold mb-4 text-gray-800">Editing Question</h1>

<div class="bg-white p-6 rounded-lg shadow-md">
  <%= render "form", question: @question %>
</div>

<div class="mt-6">
  <%= link_to "Back to Question", quizzes_path, class: "inline-block rounded-md bg-gradient-to-r from-brown-500 to-brown-700 px-6 py-2 text-base font-semibold text-white shadow-sm hover:from-brown-600 hover:to-brown-800 focus:outline-none focus:ring-2 focus:ring-brown-500 focus:ring-offset-2" %>
</div>
