@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ffffff;
}

/* html, */

/* Ensure the body covers at least the full height of the viewport and enables flex layout */
.min-h-screen {
    min-height: 100vh;
  }
  
  /* Allow the main content area to grow and push the footer to the bottom */
  .flex-grow {
    flex: 1;
  }